<div class="user-profile">
  <div class="icon">
    <%= gravatar_for user, size: 100 %>
  </div>
  <div class="name">
    <h1><%= user.name %><h1>
  </div>
  <div class="status">
    <ul>
      <li>
        <div class="status-label">FOLLOWING</div>
        <div class="status-value">
          <%= user.following_users.count %>
        </div>
      </li>
      <li>
        <div class="status-label">FOLLOWERS</div>
        <div id="followers" class="status-value">
          <%= user.followed_users.count %>
        </div>
      </li>
      <li>
        <div class="status-label">WANT</div>
        <div id="want_count" class="status-value">
          789
        </div>
      </li>
      <li>
        <div class="status-label">HAVE</div>
        <div id="have_count" class="status-value">
          123
        </div>
      </li>
    </ul>


ここにデータを入れるが、データは持ってきたほうがいいね
検索をした結果を表示するようにする
じゃぁ、する前は何を入れる？
wantしたものとhaveしたものとわける？
items controller.rbのitems/newにアクセス　ログインしたら検索画面がでるようにし、
APIから渡す
controllers/items_controller.rbにコードあり?
item/show.html.の仮タイトルにタイトルを載せる必要　ここから？
コントローラーownershipコントロールrb
表示アイテムをクリックしたらlinkになるようにする
<!--　<img alt="○○" src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1170/4988615081170.jpg" />　-->


    <%= render 'follow_form' if logged_in? && @user != current_user %>
  </div>
</div>